{% extends 'base.html.twig' %}

{% block title %} HomeController!{% endblock %}

{% block body %}

{{ include("partials/section-title.html.twig",{'nom':'  Home  '}) }}
<div class="container">
    <h1> {{ controller_name }}! ✅</h1>
</div>
{% endblock %}
