 <div class="footer aic flex-column g-15">
        <div class="footer-top flex aic jcb p-25 ">
            <div class="cta-footer flex-1">
                <span>Inscrivez-vous à notre newsletter ! </span>
            </div>
            <div class="form-footer flex-1">
                <form action="#" method="post" class="flex g-5">
                    <input type="email" name="email" id="email" placeholder="Votre email">
                    <button type="submit">Je m'inscris </button>
                </form>
            </div>
        </div>
    </div>