 <div class="page-title flex aic jcb">
        <div class="title">
            <span>  {{ nom }} </span>
        </div>
        <div class="path">
            <span>Accueil </span>
            <span> &gt; </span>
            <span>Enregistrement </span>
            <span> &gt; </span>
            <a href="#">  {{ nom }} </a>
        </div>
    </div>