{% extends 'base.html.twig' %}

{% block title %} notre CGU !{% endblock %}

{% block body %}

{{ include('partials/section-title.html.twig',  {'nom': 'Conditions Générales'} ) }} 
<div class="container">

    <h1>Hello {{ controller_name }} ✅</h1>

    

</div>
{% endblock %}
